.header {
  display: flex;
  height: 400px;
  width: 100%;
  background-color: #5F7A61;
  color: #FFF;
  font-family: 'Bungee', cursive;
  padding-left: 1.5em;
  padding-right: 1.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/foggy-birds.png");
}

.avatar, .username {
  display: flex;
}