.header {
  display: flex;
  height: 400px;
  width: 100%;
  background-color: #5F7A61;
  color: #FFF;
  font-family: 'Bungee', cursive;
  padding-left: 1.5em;
  padding-right: 1.5em;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../images/foggy-birds.png");
  margin-top: 120px;
}

.profile, .username {
  display: flex;
  position: relative;
  z-index: auto;
}

.avatar {
  display: flex;
  position: absolute;
  top: 40px;
  left: 20px;
  z-index: 10; /* that's on purpose */
}