/* Mobile Styles */

.nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #000000;
  color: #FFF;
  font-family: 'Bungee', cursive;
  padding-left: 1.5em;
  padding-right: 1.5em;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  border-bottom: 3px solid #FFF
}

.logo {
  display: flex;
  align-items: center;
}

.write-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.fa-angles-down {
  display: flex;
  color: #F637EC;
}

/* Tablet styles */

@media only screen and (min-width: 768px) {

  .nav {
    color: #FFF;
    font-family: 'Bungee', cursive;
    background-color: #3330E4;
  }
}

/* Desktop styles */

@media only screen and (min-width: 1024px) {

  .nav {
    width: 90%;
  }
}