/* Mobile Styles */

#tweet-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bottom-form {
  display: flex;
  justify-content: space-between;
}

.tweet-button {
  display: flex;
  background-color: #E900FF;
  border: 3px solid #545149;
  color: #FFF;
  padding: 10px 25px;
  font-size: 16px;
  font-family: 'Bungee', cursive;
  margin: 4px 2px;
}

.char-counter {
  font-family: 'Bungee', cursive;
}

.negative {
  color: #E900FF;
}

#tweet-text {
  background-color: #FBB454;
  font-weight: bold;
  height: 48px;
  margin-top: 20px;
  border: none;
  border-bottom: 2px solid #545149;
}

#tweet-text::placeholder {
  color: #545149;
}

#error {
  display: flex;
  box-sizing: content-box;
  width: 90%;
  margin-top: 10px;
  padding: 10px;
  border: 3px solid #3330E4;
  color: #3330E4;
  justify-content: space-evenly;
}

/* Table and Desktop styles */

@media only screen and (min-width: 768px) {

  #tweet-form {
    width: 90%;
    margin: 0px auto;
  }

  .tweet-button {
    color: #545149;
    background-color: #FAEA48;
  }

  .char-counter {
    color: #FFF;
  }

  .negative {
    color: #3330E4;
  }

  #tweet-text {
    background-color: #F637EC;
    border-bottom: 2px solid #FFF;
  }

  #tweet-text::placeholder {
    color: #FFF;
  }
}