#tweet-text {
  background-color: #f4f1ec;
  color: #545149;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  height: 48px;
  width: 70vw;
  margin-top: 20px;
  border: none;
  border-bottom: 2px solid #545149;

}

.tweet-form {
  display: flex;
  width: 90%;
  color: #C8F2EF;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: center;
}

.bottom-form {
  display: flex;
  justify-content: space-between;
}

.tweet-button {
  display: flex;
  background-color: #5F7A61;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Bungee', cursive;
  margin: 4px 2px;
  cursor: pointer;
}

.char-counter {
  display: flex;
  color: #545149;
  font-size: 24px;
  font-family: 'Bungee', cursive;
}

.negative {
  color: red;
}

#error {
  display: flex;
  box-sizing: content-box;
  width: 70vw;
  margin-top: 10px;
  padding: 10px;
  border: 3px solid red;
  color: red;
  justify-content: space-evenly;
}