.tweet-article {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  width: 70vw;
  height: 200px;
  margin: 40px 0px 40px 0px;
  padding: 30px;
  border: 3px solid #545149;
  justify-content: space-around;
}

.tweet-article:hover {
  box-shadow: 15px 15px #444941;
  transition: 0.5s;
}

.article-header {
  display: flex;
  justify-content: space-between;
}

.article-username {
  color: lightgray;
  font-weight: bold;
}

.article-sentence {
  display: flex;
  width: 95%;
  color: #545149;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 30px;
  border-bottom: 3px solid #545149;
  word-break: break-all;
  justify-content: center;
  align-content: center;
}

.article-footer {
  display: flex;
  color: #545149;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  /* padding: 0px 10px 0px 10px; */
  justify-content: space-between;
}

.fa-flag:hover, .fa-retweet:hover, .fa-heart:hover {
  color: #7FC8A9;
  transition: 0.5s;
}