/* Mobile Styles */

.tweet-article {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 40px 0px 40px 0px;
  padding: 30px;
  border: 3px solid #545149;
  border-radius: 5px;
  background-color: #E900FF;
}

.tweet-article:hover {
  box-shadow: 15px 15px #444941;
  transition: 0.5s;
}

.article-header {
  display: flex;
  justify-content: space-between;
}

.article-username {
  color: #FFF;
  font-weight: bold;
}

.article-sentence {
  color: #FFF;
  font-weight: bold;
  word-break: break-all;
  white-space: pre-wrap;
  padding: 30px;
  border-bottom: 3px solid #545149;
}

.article-footer {
  display: flex;
  justify-content: space-between;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

.fa-flag:hover,
.fa-retweet:hover,
.fa-heart:hover {
  color: #545149;
  transition: 0.5s;
}

/* Tablet and Desktop styles */

@media only screen and (min-width: 768px) {

  .tweet-article {
    width: 90%;
    background-color: #FAEA48;
  }

  .tweet-article:hover {
    box-shadow: 15px 15px #444941;
    transition: 0.5s;
  }

  .article-username {
    color: #FBB454;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .article-sentence {

    color: #545149;
    border-bottom: 3px solid #FBB454;
  }

  .article-footer {
    color: #545149;
  }

  .fa-flag:hover,
  .fa-retweet:hover,
  .fa-heart:hover {
    color: #FBB454;
    transition: 0.5s;
  }
}